@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  color: #000000;
  background-color: #f2f2f2;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {}

.logo-link {}

.logo-image {
  display: block;
  margin-left: 70px;
  margin-right: 28px;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.main-menu {
  display: flex;
  flex-wrap: wrap;
  width: 550px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-menu-item {}

.main-menu-link {
  display: block;
  padding: 20px 16px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.user-menu {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  max-width: 500px;
  margin-left: auto;
  list-style: none;
}

.user-menu-item {}

.user-menu-link {
  display: block;
  padding: 22px 11px;
  min-width: 11px;
  min-height: 22px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.favorite-count {}

.user-menu-button {
  display: block;
  margin: 14px 0;
  margin-left: auto;
  margin-right: 70px;
  padding: 8px 34px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;

}

.main-container {
  flex-grow: 1;
}

.main-index {
  width: 1200px;
  margin: 0 auto;
}

.page-container .welcome {
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #395876;
  padding: 51px 0 82px;
  background-image: url("../images/index-background.jpg");
}

.welcome-image {
  display: block;
  margin: 0 auto;
}

.advantages {}

.city-advantages {
  padding: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  width: 620px;
  margin: 0 auto;
  padding-top: 69px;
  margin-bottom: 25px;
  text-align: center;
}

.advantages-text {
  padding: 0;
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  padding-bottom: 69px;
}

.advantages-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;

}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.2);

}

.advantages-item:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-wide {
  display: flex;
  color: #ffffff;
}

.advantages-item-wide .advantages-item-container {
  background-color: #82B3D3;
  color: #ffffff;
}

.advantages-item-container {
  width: 230px;
  min-height: 200px;
  padding: 90px 85px;
}

.advantages-title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-description {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantages-image {
  display: block;
  object-fit: cover;
  height: 100%;
  max-width: 100%;
}

.recommendations {}

.invitation {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  width: 505px;
  margin: 0 auto;
  padding-top: 64px;
  margin-bottom: 20px;
}

.staff-service {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  padding-bottom: 64px;
}

.recommendations-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.recommendations-item {
  margin: 0;
  width: 230px;
  min-height: 200px;
  padding: 81px 85px;
  background: rgba(131, 179, 211, 0.12);
}

.recommendations-item:nth-child(2n) {
  background-color: #ffffff;
}

.recommendations-title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 28px;
}

.recommendations-description {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.search {
  padding-top: 96px;
  padding-bottom: 96px;
}

.search-container {
  width: 592px;
  margin: 0 auto;
  text-align: center;
}

.search-title {
  margin-top: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;

}

.search-discription {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin-bottom: 54px;
}

.search-button {
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #756157;
  text-align: center;
  width: 376px;
  text-transform: uppercase;
  border: none;
  padding: 8px 50px;
}

.page-footer {}

.page-footer-container {
  display: block;
  width: 1200px;
  margin: 0 auto;
}

.footer-subscribe {
  background-color: #306086;
  background-image: url("../images/subscribe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 96px;
  padding-bottom: 96px;
}

.footer-subscribe .footer-catalog {
  background-image: none;
}

.subscribe-title {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.subscribe-description {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  text-align: center;
}

.subscribe-form {}

.field {
  font-size: 18px;
  line-height: 24px;
}

.subscribe-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #82B3D3;
  text-align: center;
  text-transform: uppercase;
}

.contact-information {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-social {}

.footer-social-list {
  margin: 0;
}

.footer-social-item {
  padding: 0;
  margin: 0;
  list-style: none;
}

.button-social {}

.footer-contact {}

.footer-contact-phone {
  display: block;
  padding: 40px, 5px 0 195px;
  margin-bottom: 30px;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.footer-logo {}

.html-link {}

.logo {}

.main-inner {}

.filter-container {
  background-color: #316187;
  background-image: url("../images/filter.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 35px 70px 70px 70px;
}

.inner-header {}

.inner-header-title {
  margin: 0;
  color: #ffffff;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;

}

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.breadcrumbs-item {}

.breadcrumbs-link {
  text-decoration: none;
  color: #ffffff;
}

.offer-filter {}

.catalog-filter-group {}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}


.catalog-filter-list {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-size: 18px;
  line-height: 23px;

}

.catalog-filter-item {
  list-style: none;
}

.control {

}

.control-input {

}

.catalog-filter {}

.button-choose {}

.button-reset {}

.catalog {}

.search-result {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;


}

.select-control {}

.button {}

.button .button-light {}

.product-list {
  margin: 0;
  padding: 0;
  padding: 0 70px 40px 70px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
}

.product-card {
  padding: 19px;
  display: grid;
  grid-template-columns: repeat(2, 140px);
  gap: 16px 20px;
}

.product-card-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  grid-column: 1 / -1;
}

.product-card-image {
}

.product-card-title {
  margin: 0;
}

.product-card-type {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  grid-column: 1 / 2;
}

.product-card-price {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.product-card-button {
  display: block;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  padding: 8px 5px;
  border: none;
  width: 140px;
}

.button-favorite {
  display: block;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #82b3d3;
  text-transform: uppercase;
  border: none;
  padding: 8px 5px;
  width: 140px;
}

.hotels-stars {
  margin: 0;
}

.product-card-reyting {
  margin: 0;
}

.pagination-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-item {}

.pagination-link {
  text-decoration: none;
}

.pagination-item .pagination-item-active {}
