@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  color: #000000;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {}

.logo-link {}

.logo-image {
  display: block;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.main-menu {
  width: 450px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-menu-item {
}

.main-menu-link {
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.user-menu {
  padding: 0;
  margin: 0;
  max-width: 350px;
  margin-left: auto;
  list-style: none;
}

.user-menu-link {
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-align: center;
  text-decoration: none;
}

.favorite-count {}

.user-menu-button {
  font-weight: 700;
  color: #ffffff;
  background-color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.main-container {
flex-grow: 1;
}

.main-index {
  width: 1200px;
  margin: 0 auto;
}

.page-container

.welcome {
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #000000;
}

.welcome-image {
}


.advantages {

}

.city-advantages {
  padding: 0;
  margin: 0;
  font-weight: 700;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 69px;
  margin-bottom: 25px;
}

.advantages-text {
  padding: 0;
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin-bottom: 69px;
}

.advantages-list {
  padding: 0;
  margin: 0;
  list-style: none;

}

.advantages-item {
  display: flex;

}

.advantages-title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-city-title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  background-color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.advantages-description {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantages-city-description {
  margin: 0;
  color: #ffffff;
  background-color: #000000;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantages-image {}

.recommendations {}

.staff-service {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin-top: 64px;
  margin-bottom: 20px;
}

.invitation {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 64px;
}

.recommendations-list {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.recommendations-item {
  margin: 0;
  width: 400px;
}

.recommendations-title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;

}

.recommendations-description {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.hotel-search {
  padding-top: 96px;
  padding-bottom: 96px;
}

.interest {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.booking-dates {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin-bottom: 54px;
}

.hotel-search-link {
  display: block;
  width: 376px;
  text-decoration: none;
  padding: 8px 50px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  background-color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.page-footer {}

.page-footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.footer-subscription {
  background-image: url("../images/Subscribe.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-top: 96px;
  padding-bottom: 96px;
}

.page-footer-title {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.mailing-list {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  background-color: #000000;
  text-align: center;
}

.newsletter-form {}

.field {
font-size: 18px;
line-height: 24px;
}

.newsletter-button {
font-weight: 700;
font-size: 20px;
line-height: 36px;
color: #FFFFFF;
background-color: #000000;
text-align: center;
text-transform: uppercase;
}

.footer-social {}

.footer-social-list {
  margin: 0;
}

.footer-social-item {
  padding: 0;
  margin: 0;
  list-style: none;
}

.button {}

.footer-contact {}

.footer-contact-phone {
  text-decoration: none;
  color: #000000;
  text-align: center;
}

.footer-logo {}

.html-link {}

.logo {}
